# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode
.idea

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
*.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

package-lock.json
yarn.lock
pnpm-lock.yaml

