import React from 'react';
import './index.scss';

export default () => {
  return (
    <div data-cid="<%= componentName %>" className="<%= componentName %>">
      <h1><%= componentName %></h1>
    </div>
  );
};
